Django>=5.2.6
djangorestframework>=3.15.2
python-decouple>=3.8
pg8000>=1.31.2
social-auth-app-django>=5.4.1
djangorestframework-simplejwt>=5.3.1
drf-yasg>=1.21.7
africastalking>=1.2.5
djangorestframework
dj-database-url
google-auth
sentry-sdk
coverage
pytest
